<!DOCTYPE html>
<html>
  <head>
    <title>Upload new File</title>
  </head>

  <body>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
    </ul>
    <div>
      <p>
        This web app was developed by António Dantas and Bernardo Moreira for
        the Multimedia Retrieval and Cloud Computing course at the University of
        Mons. The goal of the project is to develop a method that extracts
        features from an image database to later use them to compare their
        similarity. After the cloud deployment this results in a platform the
        serves as an image search engine using artificial intelligence.
      </p>
    </div>
    <div>
      <div>
        <p>António Dantas</p>
        <p>email</p>
        <p>github</p>
      </div>
      <div>
        <p>Bernardo Moreira</p>
        <p>email</p>
        <p>github</p>
      </div>
    </div>
  </body>
</html>
